body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

/* center the container and imply margins */
.container {
  padding: 0 15px;
  max-width: 800px;
  margin: auto;
}

/* make the div with the id lists into a flex container */
.lists {
  display: flex;
  justify-content: space-around;
}

/* Modernize buttons and input */

button {
  margin-bottom: 1em;
  padding: 1em 3em;
  border-radius: .5em;
}

input {
  width: 300px;
  padding: 1em;
}

/* make list containers flex */
.lists div {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 1em;
}

.lists ul {
  list-style-type: none;
}

/* style list items, common styles */
.to-do-item, .done-item {
  margin: .5em;
  border-radius: 4%;
  box-shadow: 2px 2px 4px gray;
  padding: 5px 8px;
}

/* Style list item specific to to-do-item */
.to-do-item {
  background: #45A29E;
  cursor: pointer;
  position: relative;
}

.to-do-item:hover::after {
  content: "\2713";
  width: 20px;
  height: 20px;
  background: #66FCF1;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 4%;
}

/* Style list item specific to done-item */
.done-item {
  background: #66FCF1;
}